<div class="ui segment" style="margin-top: 10px; margin-bottom: 50px">
<h2 class="ui header" >All Alumnus</h2>
</div>


<div class="ui grid" >
  <!--li *ngFor="let al of alumnus" [class.selected]="al === selectedAlumnus" (click)="onSelect(al)">
    {{al.name}}
  </li-->
  <app-alumnus-detail *ngFor="let al of alumnus" [alumnus]="al"></app-alumnus-detail>
  <button class="ui basic button" href [routerLink]="['add']"> <i class="icon plus"></i> Add Alumnus </button>
</div>
<!--app-alumnus-detail [alumnus]="selectedAlumnus"></app-alumnus-detail-->
